/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root, document, body {
    overflow-x: hidden;
}

* {
    font-family: 'Ubuntu';
}

h1,h2,h3,h4,h5,h6 {
    @apply font-bold;
}

h1 {
    @apply text-7xl;
}

h2 {
    @apply text-5xl;
}

h3 {
    @apply text-3xl;
}

h4 {
    @apply text-lg;
}

h6 {
    @apply text-sm;
}

a {
    @apply text-blue-600;
}